<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">
        @import url('https://themes.googleusercontent.com/fonts/css?kit=fvyYZ8D_r6q1snYdb-tnF6Gq3fd52zrAS7XUuAmYWWr3rGVtsTkPsbDajuO5ueQw');

        ol {
            margin: 0;
            padding: 0
        }

        table td,
        table th {
            padding: 0
        }

        .c3 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Lora";
            font-style: normal
        }

        .c1 {
            padding-top: 10pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: justify;
            height: 11pt
        }

        .c2 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Lora";
            font-style: normal
        }

        .c12 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Lora";
            font-style: normal
        }

        .c7 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 10pt;
            font-family: "Lora";
            font-style: normal
        }

        .c13 {
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Lora";
            font-style: normal
        }

        .c6 {
            padding-top: 10pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: right
        }

        .c14 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        .c4 {
            padding-top: 10pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: justify
        }

        .c5 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        .c0 {
            background-color: #ffffff;
            max-width: 468pt;
            padding: 54pt 72pt 54pt 72pt
        }

        .c11 {
            color: #cccccc
        }

        .c8 {
            font-size: 12pt
        }

        .c9 {
            height: 11pt
        }

        .c10 {
            font-weight: 700
        }

        .title {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 0pt;
            font-family: "Lora";
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 10pt;
            padding-bottom: 0pt;
            font-family: "Quicksand";
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Lora"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Lora"
        }

        h1 {
            padding-top: 10pt;
            color: #000000;
            font-size: 36pt;
            padding-bottom: 0pt;
            font-family: "Lora";
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        h2 {
            padding-top: 24pt;
            color: #000000;
            font-size: 20pt;
            padding-bottom: 0pt;
            font-family: "Lora";
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 6pt;
            color: #999999;
            font-size: 11pt;
            padding-bottom: 6pt;
            font-family: "Lora";
            line-height: 1.3;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 0pt;
            color: #434343;
            font-size: 10pt;
            padding-bottom: 0pt;
            font-family: "Quicksand";
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        h5 {
            padding-top: 8pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 8pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }
    </style>
</head>

<body class="c0 doc-content">
    <p class="c5"><span
            style="overflow: hidden; display: inline-block; width: 500.00px; height: 100.00px;"><img
                alt="" src="cid:image1"
                style="object-position: center; width: 500.00px; height: 100.00px; object-fit: cover;"
                title=""></span></p>
    <p class="c5 c9"><span class="c12"></span></p>
    <p class="c4"><span class="c3">Ol&aacute;, {{trader}} !</span></p>
    <p class="c1"><span class="c3"></span></p>
    <p class="c4"><span class="c8">O cliente </span><span class="c8 c10">{{cliente}}</span><span class="c3">&nbsp;navegou
            no Concierge e favoritou os produtos abaixo:</span></p>
    <ul style="font-weight: bold;" class="c2">
        {{#each produtos}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    <p class="c1"><span class="c2"></span></p>
    <p class="c4"><span class="c3">{{mensage}}</span></p>
    <p class="c1"><span class="c3"></span></p>
    <p class="c4"><span class="c3">Os dados de contato registrados no sistema s&atilde;o:</span></p>
    <p class="c4"><span class="c8">Cliente: </span><span class="c2">{{cliente}}</span></p>
    <p class="c4"><span class="c8">Usu&aacute;rio:</span><span class="c2">{{usuario}}</span></p>
    <p class="c4"><span class="c8">Email de contato: </span><span class="c2">{{email_cliente}}</span></p>
    <p class="c1"><span class="c3"></span></p>
    <p class="c6"><span class="c3">Boas vendas!</span></p>
    <p class="c6"><span class="c3">Equipe Concierge</span></p>
    <p class="c6 c9"><span class="c3"></span></p>
    <p class="c5"><span
            class="c11">&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span>
    </p>
    <p class="c5"><span class="c7">Qualquer informa&ccedil;&atilde;o incorreta, por favor entre em contato com</span>
    </p>
    <p class="c14"><span class="c7">&nbsp;concierge@portobello.com.br</span></p>
</body>

</html>